body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1 0 auto;
    min-height: 450px;
    padding: 8px;
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

p {
    margin: 0;
}

.text {
    margin-top: 96px;
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.header-sign-up {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: #E5E7EB;
    padding: 4px 24px;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 8px;
}


.links {
    display: flex;
    gap: 16px;
    margin: 8px;
}


a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img-cont {
    display: flex;
    justify-content: flex-end;
}

.middle {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

.random {
    font-size:36px;
    color: #1F2937;
    font-weight: 900;
    align-self: flex-start;
    margin-top: 48px;
    margin-bottom: 48px;
}


.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:300px;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #3882F6;
    min-height: 150px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 6px;
}

.call-to-action-text {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    
}

.sign-up-button {
    margin-left: auto;
}

button {
    margin: 0;
    padding: 0;
}

.call-to-action-subtext {
    color: #E5E7EB;
}

.footer {
    height: 72px;
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}